@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 260 43% 98%;
    --foreground: 240 5.9% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 5.9% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 5.9% 10%;
    --primary: 259 75% 71%;
    --primary-foreground: 260 100% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 209 100% 69%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --positive: 142.1 76.2% 36.3%;
    --negative: 0 84.2% 60.2%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 259 75% 71%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 259 75% 71%;
    --sidebar-primary-foreground: 260 100% 98%;
    --sidebar-accent: 260 43% 98%;
    --sidebar-accent-foreground: 259 75% 71%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 259 75% 71%;
  }
  .dark {
    --background: 270 7% 11%;
    --foreground: 0 0% 98%;
    --card: 270 7% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 270 7% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 259 75% 71%;
    --primary-foreground: 260 100% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 209 100% 69%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --positive: 142.1 70.2% 46.3%;
    --negative: 0 72.2% 50.6%;
    --border: 270 7% 20%;
    --input: 270 7% 20%;
    --ring: 259 75% 71%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 270 7% 11%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 259 75% 71%;
    --sidebar-primary-foreground: 260 100% 98%;
    --sidebar-accent: 270 7% 15%;
    --sidebar-accent-foreground: 259 75% 71%;
    --sidebar-border: 270 7% 20%;
    --sidebar-ring: 259 75% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}